<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Расчет энергоэффективности умного дома</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>узнай больше о глобальном потеплении</h1>
      <p>!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">выбери тип факта</h2>
    <ul class="list" id="list">
      <!-- Задание №3 -->
      <li class="list__item">
        <a href="{{lights + "/3" }}">
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>Некоторые меры, которые предпринимаются для снижения таяния ледников:
Снижение выбросов парниковых газов. На государственном уровне это выражается в жёстком контроле промышленных выбросов, субсидировании зелёных технологий и развитии экономики замкнутого цикла, где отходы сокращаются, а ресурсы используются повторно. Также важен переход от ископаемого топлива к возобновляемым источникам энергии — солнечной, ветровой, гидро- и геотермальной.
Защита и восстановление экосистем. Сохранение лесов помогает поглощать один из парниковых газов — углекислый — и стабилизировать климат. В горных регионах, где тают ледники, важно защищать не только сами ледниковые системы, но и прилегающие водосборные бассейны — например, через создание охраняемых природных территорий и ограничение хозяйственной деятельности в уязвимых зонах.
Повышение осведомлённости и образование. Экопросвещение — от школьных программ до общественных кампаний — помогает формировать ответственное отношение к климату.
Мониторинг и исследования. Научные учреждения проводят наблюдения за ледниками и их массой, что помогает предсказывать изменения водоснабжения и паводки.
Международное сотрудничество. Страны участвуют в международных программах, таких как межправительственная Комиссия по ледникам и снежному покрову (ICSI), и обмениваются данными с Всемирной метеорологической организацией.</span></a>
      </li>
      <li class="list__item">
        <a href="{{lights + "/6" }}">
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>Для мониторинга ледников используются различные технологии, среди них:
Грунтопроникающий радар (георадар). Позволяет определить толщину льда и форму ложа ледника. 
фумо05.рф
conf.nsc.ru
Глобальные навигационные спутниковые системы (ГНСС). Используются для топографической съёмки ледниковой поверхности. 
фумо05.рф
cyberleninka.ru
Лазерное сканирование с воздуха и из космоса. Применяется для картирования высоты поверхности ледников с вертикальной точностью менее 1 м. 
фумо05.рф
Многоспектральные датчики. Используются на спутниках Pléiades, ASTER и СПОТ. Позволяют картировать поверхность ледников с точностью 0,5–2 м по вертикали. 
фумо05.рф
Радиоэхозондирование во льду. Основано на передаче и обнаружении электромагнитных волн на частотах от 1 до 1000 МГц. 
фумо05.рф
ГИС-технологии. Помогают в количественной оценке изменений ледников путём расчёта изменений длины ледника и оценки изменений площади ледника. 
nps.gov
conf.nsc.ru
Повторная фотосъёмка. Используется для документирования изменений площади ледников. 
nps.gov</span></a>
      </li>
      <li class="list__item">
        <a href="{{lights + "/10"}}">
          <img class="item__img" src="../static/img/battery.svg" alt="battery">
          <span>Некоторые преимущества георадара перед другими методами мониторинга ледников:
Возможность изучения внутреннего строения ледника. Георадары позволяют построить трёхмерные модели ледниковых толщ, картировать складчатые структуры и нарушения в них, устанавливать корреляцию между элементами складок и областями развития трещин.
Картирование подледного рельефа. От него зависит направление ледовых потоков, вероятность появления трещин и развития внутриледниковых каналов.
Исследование верхней части ледника. Высокочастотные георадары (400–900 МГц) позволяют исследовать верхнюю часть ледника до глубин 20 м.
Изучение объектов, расположенных под километровыми толщами льда. Георадары, например Pulse Ekko с антенной 50 МГц, позволяют получать отражения от границ в толще ледника на глубинах более 250 м.</span></a>
      </li>
      <!--  -->
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
