<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Расчет энергоэффективности умного дома</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Факты про глобальное потепление.</h1>
      <p>Реши проблему глобального потепления!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Выбери тип факта:</h2>
    <ul class="list">
      <li class="list__item">
        <a href="/1">
        <img class="item__img" src="../static/img/home.svg" alt="home">
        <span>Главная причина — рост концентрации парниковых газов в атмосфере из-за деятельности человека. К ним относятся выбросы углекислого газа (CO₂), метана (CH₄), закиси азота (N₂O) и фторированных газов. Основные источники выбросов: сжигание ископаемого топлива (уголь, нефть, газ), промышленное производство (цемент, сталь, химия), сельское хозяйство (особенно животноводство, рисовые поля), вырубка лесов.</span></a>
      </li>
      <!-- Задание №1 -->
      <li class="list__item">
        <a href="/2">
        <img class="item__img" src="../static/img/home.svg" alt="home">
          <span>Глобальное потепление оказывает значительное влияние на морские экосистемы, некоторые последствия:
          Утрата морского биоразнообразия. Повышение температур увеличивает риск необратимой утраты морских и прибрежных экосистем. Наблюдаются повреждения коралловых рифов и мангровых зарослей, которые поддерживают жизнь в океане. Виды мигрируют в более высокие широты и на большие высоты, где вода может быть более прохладной. 
          un.org
          Морские тепловые волны. Частота таких волн удвоилась, они стали более продолжительными, интенсивными и масштабными. Например, волна тепла, обрушившаяся на тихоокеанское побережье Америки с 2014 по 2016 год, опустошила морские экосистемы, вызвав массовую гибель и миграции различных видов. 
          un.org
          en.wikipedia.org*
          science.mail.ru
          Снижение уровня кислорода в воде. С 50-х годов прошлого века мировой океан потерял около 2% растворённого кислорода, а к 2100 году этот показатель может достичь 7%. Это явление, называемое деоксигенацией, особенно опасно для глубоководных экосистем. 
          dzen.ru
          Закисление океана. Углекислый газ, растворяясь в морской воде, производит угольную кислоту, которая снижает pH воды. Повышенная кислотность разрушает карбонат кальция и угрожает кораллам, моллюскам и планктону, которые используют его для построения скелетов и раковин. 
          un.org
          dzen.ru
          Повышение уровня моря. В сочетании с усилением тропических циклонов это приводит к таким экстремальным явлениям, как смертоносные штормовые нагоны и опасные ситуации в прибрежных зонах (например, наводнения, эрозии и оползни).  </span></a>
      </li>
      <li class="list__item">
        <a href="/3">
        <img class="item__img" src="../static/img/home.svg" alt="home">
        <span>Чтобы снизить негативное влияние глобального потепления, можно предпринять следующие меры:
          Переход на возобновляемые источники энергии. Например, использовать солнечную, ветро-, био-, гидроэнергетику, ядерную энергетику. 
          rbc.ru
          bigenc.ru
          Увеличение энергоэффективности. Это важно при строительстве зданий, модернизации технологических цепочек в системе жилищно-коммунального хозяйства и на транспорте (в первую очередь за счёт использования электромобилей). 
          bigenc.ru
          Борьба с системными энергопотерями. Можно внедрить современные способы хранения неископаемых видов топлива, например, использовать суперсети для хранения электроэнергии или интеллектуальные сети на уровне отдельных домохозяйств и организаций. 
          bigenc.ru
          Развитие водородной энергетики. Нужно найти более эффективный и менее энергозатратный способ производства водорода. 
          bigenc.ru
          Реализация программ устойчивого развития в сфере сельского хозяйства. Это поможет сократить углеродные и метановые выбросы от агробизнеса. 
          bigenc.ru
          Распространение технологий поглощения и удаления углерода. Можно использовать естественные ресурсы (облесения, предотвращение опустынивания, защиту природных накопителей углекислого газа — болот, лесов и др.) или применять искусственный путь (например, прямое улавливание углекислого газа). 
          bigenc.ru
          Снижение спроса на товары и услуги, которые способствуют выбросам парниковых газов. Можно изменить поведение и культуру, например, сократить потребление мяса, улучшить инфраструктуру, например, создать качественную сеть общественного транспорта. 
          ru.ruwiki.ru
          Изменения в образе жизни. Можно отказаться от частых авиаперелётов и автомобилей с бензиновыми двигателями, перейти на растительную диету, более длительное время использовать одежду и электроприборы, а также электрифицировать дома. 
          ru.ruwiki.ru</span></a>
      <!--  -->
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
