<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Расчет энергоэффективности умного дома</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>узнай больше о глобальном потеплении</h1>
      <p></p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">выбери факт </h2>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{size + "/3" }}>
          <img class="item__img" src="../static/img/light.svg" alt="light">
          <span>Некоторые факторы, которые делают перечисленные регионы уязвимыми к глобальному потеплению:
            Географическая изоляция и ограниченные ресурсы малых островных государств. Это ограничивает их способность эффективно реализовывать стратегии адаптации к изменению климата. 
            frontiersin.org
            Зависимость от климатически зависимых отраслей экономики. Например, в странах Африки значительные слои населения зависят от сельского хозяйства, которое сталкивается с проблемами нехватки воды, уменьшения пригодных для возделывания земель и опустынивания. 
            journal-neo.su
            en.wikipedia.org
            Высокая интенсивность климатических изменений. Например, в Африке потепление происходит быстрее, чем в среднем в остальном мире. 
            en.wikipedia.org
            Особенности экосистем. Так, в Азии очень уязвимы к изменению климата коралловые рифы, а мангровые экосистемы региона подвержены влиянию повышения уровня моря. 
            frontiersin.org
            en.wikipedia.org
            Расположение вблизи побережья. Например, в Латинской Америке большинство крупных городов расположены вблизи побережья или рек, подверженных наводнениям во время приливов и сильных дождей. 
            frontiersin.org
            vigiljournal.com
            Таяние ледников и уменьшение снежного покрова. Это представляет угрозу для стабильного и бесперебойного наличия водных ресурсов. 
            documents1.worldbank.org
            Ухудшение ледовых условий. Например, в Арктике из-за ухудшения ледовых условий затрудняются традиционный зимний промысел и передвижение по льду. 
            </span></a>
      </li>
      <!--Задание №2 -->
      <li class="list__item">
        <a href="{{size  + "/7" }}"> 
          <img class="item__img" src="../static/img/light.svg" alt="light">
          <span>Чтобы снизить негативное влияние глобального потепления, можно предпринять следующие меры:
              Переход на возобновляемые источники энергии. Например, использовать солнечную, ветро-, био-, гидроэнергетику, ядерную энергетику. 
              rbc.ru
              bigenc.ru
              Увеличение энергоэффективности. Это важно при строительстве зданий, модернизации технологических цепочек в системе жилищно-коммунального хозяйства и на транспорте (в первую очередь за счёт использования электромобилей). 
              bigenc.ru
              Борьба с системными энергопотерями. Можно внедрить современные способы хранения неископаемых видов топлива, например, использовать суперсети для хранения электроэнергии или интеллектуальные сети на уровне отдельных домохозяйств и организаций. 
              bigenc.ru
              Развитие водородной энергетики. Нужно найти более эффективный и менее энергозатратный способ производства водорода. 
              bigenc.ru
              Реализация программ устойчивого развития в сфере сельского хозяйства. Это поможет сократить углеродные и метановые выбросы от агробизнеса. 
              bigenc.ru
              Распространение технологий поглощения и удаления углерода. Можно использовать естественные ресурсы (облесения, предотвращение опустынивания, защиту природных накопителей углекислого газа — болот, лесов и др.) или применять искусственный путь (например, прямое улавливание углекислого газа). 
              bigenc.ru
              Снижение спроса на товары и услуги, которые способствуют выбросам парниковых газов. Можно изменить поведение и культуру, например, сократить потребление мяса, улучшить инфраструктуру, например, создать качественную сеть общественного транспорта. 
              ru.ruwiki.ru
              Изменения в образе жизни. Можно отказаться от частых авиаперелётов и автомобилей с бензиновыми двигателями, перейти на растительную диету, более длительное время использовать одежду и электроприборы, а также электрифицировать дома. 
              ru.ruwiki.ru</span></a>
      </li>
      <li class="list__item">
        <a href="{{size + "/10" }}">
          <img class="item__img" src="../static/img/light.svg" alt="light">
          <span>Некоторые проблемы, связанные с таянием ледников:
            Затопленные территории. Если весь лёд на планете внезапно растает, это поднимет уровень Мирового океана примерно на 65 метров. Многие города и страны окажутся под водой.
            Изменение характеристик океанской воды. Со временем кислотность мирового океана значительно увеличится, вода станет теплее, а содержание кислорода снизится. Это приведёт к изменению морской фауны, в частности гибели коралловых рифов, где живут и размножаются многие рыбы.
            Проблемы с пресной водой. Во многих регионах ледники обеспечивают их достаточным количеством пресной воды, особенно в сезоны засухи. Из-за этого уже в ближайшие годы некоторые страны могут столкнуться с её нехваткой.
            Экстремальные погодные явления. Таяние ледников приведёт к дисбалансу мирового климата, в результате планета всё чаще будет сталкиваться с сильными дождями, штормами, ураганами и засухой.
            Гибель животных и растений. На Земле существование многих видов животных и растений напрямую зависит от ледников. Например, многие альпийские реки формирует талая ледниковая вода, в которой обитает множество беспозвоночных.
            Повреждение инфраструктуры. Оттаивание вечной мерзлоты приводит к деформации зданий, трубопроводов, дорог и железнодорожных путей.
            Риски для здоровья и биологической безопасности. Из оттаивающих участков почвы высвобождаются патогены: бактерии, вирусы, споры грибов.</span></a>
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
